<template>
  <div class="home">
    <template v-for="item in items">
      <Item :data="item" />
    </template>
  </div>
</template>

<script>
import { db } from '../main'
import Item from '@/components/Item.vue'

export default {
  name: 'home',
  components: { Item },
  data() {
    return {
      items: [],
      loader: true
    }
  },
  created () {
    db.collection("kermes").get().then(item => {
      item.docs.forEach(doc => {
        this.items.push(doc.data())
      })
      this.loader = false
    })
  },
  methods: {
    testMethod: function () {
      console.log('test');
    }
  }
}
</script>
