<template>
  <div class="item">
    {{data.name}}
  </div>
</template>

<script>
export default {
  name: 'Item',
  props: {
    data: Object
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
