<template>
  <div class="nav-bar">
    {{msg}}
    <router-link to="/">Anasayfa</router-link>
  </div>
</template>

<script>
export default {
  name: 'navbar',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
