<template>
  <div id="app">
    <Navbar msg="Nav bar"/>

    <router-view/>

    <footer>
      <router-link to="/login">Login</router-link>
      <router-link to="/register">Register</router-link>
    </footer>
  </div>
</template>

<script>
// @ is an alias to /src
import Navbar from '@/components/Navbar.vue'

export default {
  name: 'app',
  components: {
    Navbar
  }
}
</script>


<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer {

}
</style>
